{
  "extends": "loopback",
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "strict": [
      "error",
      "never"
    ],
    "max-len": [ "off" ],
    "padded-blocks": [
      "ignore"
    ],
    "comma-dangle": [
      "error",
      "ignore"
    ]
  }
}
